
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary:  rgb(26, 125, 255);
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-light-grey: rgb(201, 201, 201);
    --color-dark: #363949;
    --color-dark-border: rgba(54, 57, 73, 0.5);
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Changing colour definitions for when user switches to dark mode */
.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-border: rgb(237, 239, 253);
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Foundation */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

/* Main Body */
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

/* Universal a tag styling */
a{
    color: var(--color-dark);
}

/* Universal img styling */
img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Universal h1 styling */
h1{
    font-weight: 800;
    font-size: 1.8rem;
}

/* Universal h2 styling */
h2{
    font-weight: 600;
    font-size: 1.4rem;
}

/* Universal h3 styling */
h3{
    font-weight: 500;
    font-size: 0.87rem;
}

/* Universal small styling */
small{
    font-size: 0.76rem;
}

/* Universal p tag styling */
p{
    color: var(--color-dark-variant);
}

/* Universal b tag styling */
b{
    color: var(--color-dark);
}

.danger{
    color: var(--color-danger);
}

/* Main container */
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

/* Tag through which sidebar is established */
aside{
    height: 100vh;
}

/* Flex list for sidebar elements */
aside .list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

/* Company Name  */
aside .list .logo{
    display: flex;
    gap: 0.5rem;
}

/* Company Tree Icon */
aside .list .logo .icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}

aside .list .close{
    padding-right: 1rem;
    display: none;
}

/* Sidebar */
aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

/* Hover Sidebar No box shadow */
aside .sidebar:hover{
    box-shadow: none;
}

/* Styling for sidebar a tags like page names */
aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

/* Styling for sidebar page icons */
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

/* Styling to position logout button near the bottom */
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

/* Change color of text when sidebar button is active */
aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

/* Add grey background when sidebar button is active */
aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

/* Move text slightly when sidebar button is active */
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

/* Change colour when hovered */
aside .sidebar a:hover{
    color: var(--color-primary);
}

/* Move slightly when hovered */
aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

/* Styling common for all sidebar buttons */
.sidebar .sidebar-button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
}

/* Custom alert and prompt modal */
.modal-custom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Custom modal content, consisting of white box in the middle */
.modal-content-custom {
    background-color: var(--color-white);
    margin: 17% auto; /* 17% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.5s;
    position: relative;
}

/* Marign specific to alert modal content */
#customAlertContent {
    margin: 19% auto;
}

/* Colouring for p tag and input */
.modal-content-custom p,
.modal-content-custom input{
    color: var(--color-dark);
}

/* Close button for custom modal */
.close-btn-custom {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
}

/* Hover effect for close button */
.close-btn-custom:hover,
.close-btn-custom:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Set height of each prompt modal */
#modalContentPrompt1,
#modalContentPrompt2,
#modalContentPrompt3,
#modalContentPrompt4 {
    height: 20%;
}

/* Increased width for category deletion modal */
#modalContentPrompt3 {
    width: 40%
}

/* Submit button for prompt modals */
.submit-button-prompt {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

/* Hover effect for submit-button */
.modal-content-custom .submit-button-prompt:hover {
    background-color: #45a049;
}

/* Margin for input field in prompt modal */
.promptInput-custom {
    margin-top: 10px;
    color: var(--color-dark);
    background-color: var(--color-white);
}

/* Fade in animation */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* common styling for all pages */
.page {
    background: none;
}

/* Other categories are hidden when one is clicked */
.page.hidden {
    display: none;
}

/* dashboard class */
.dashboard {
    border: none;
}

/* profile class, flex display to fit containers side by side */
.profile {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if containers are too wide */
    justify-content: flex-start; /* Adjust to space items side by side */
    align-items: flex; /* Align items to the top */
    width: 140%;
    padding: 20px;
    margin-top: -20px;
    margin-left: -15px;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

/* container where profile image is shown and updated */
.profile .profile-container {
    background-color: var(--color-white);
    margin-top: 50px;
    height: 550px;
    margin-bottom: 20px;
    margin-left: -90px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
    flex: 1; /* Allow flexibility but ensure they fit side by side */
}

/* container where user information and statistics are shown, as well as graphical analysis */
.profile .info-container {
    background-color: var(--color-white);
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
    flex: 1; /* Allow flexibility but ensure they fit side by side */
    position: relative;
}

/* Hover effect */
.profile .profile-container:hover, .profile .info-container:hover {
    box-shadow: none;
}

/* Titles for both containers */
.profile .info-container h1,
.profile .profile-container h1{
    margin: 0;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
}

.profile .info-container h1{
    font-weight: bold;
}

/* Styling for information labels */
.info-container p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--color-dark);
    margin: 10px 0;
    margin-left: 70px;
}

/*  Styling for information */
.info-container p span {
    font-weight: normal;
    color: var(--color-dark);
}

/* Special styling for prestige level */
.info-container p.prestige-level {
    font-size: 22px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    margin-top: 30px;
}

/* graphical analysis container */
.graphical-analysis{
    background-color: var(--color-white);
    margin-left: 70px;
    margin-top: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.graphical-analysis:hover{
    box-shadow: none;
}

/* graphical analysis button */
.make-graph-button{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* hover effect for button */
.make-graph-button:hover{
    background-color: var(--color-primary);
    color: white;
}

.make-graph-button div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

/* Update image label */
.profile-container label{
    display: block;
    width: 200px;
    background: var(--color-primary);
    color: white;
    text-align: center;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

/* Hide default input asking for file */
.profile-container input{
    display: none;
}

/* Profile image styling */
.profile-container img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 30px auto 50px;
    display: block;
}

/* Styling for encrypted password */
.password-container input{
    color: var(--color-dark);
    background-color: var(--color-white);
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

/* Styling for eye icon */
.ri-eye-line,
.ri-eye-off-line {
    background-color: transparent;
    color: var(--color-dark);
}


.goals {
    border: none;
}

/* Container where goals information is stored */
.goals .goals-main-container{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    margin-top: 10px;
    width: 1000px;
    height: 550px;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
    padding: 30px;
    position: relative;
}

/* Category TItle */
.goals .goals-main-container .title-container{
    font-weight: 600;
    margin-left: 33px;
    font-size: 1.8rem;
    width: 160px;
    border-right: 2px solid var(--color-dark);
    padding-right: 10px;
}

/* Container where categories are stored in row */
.goals .goals-categories-container{
    position: absolute;
    width: 600px;
    top: 25px;
    left: 250px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: auto; /*Make container scrollable */

}

.goals-categories-container::-webkit-scrollbar {
    height:1px; /* Adjust the height of the scrollbar */
}

.goals-categories-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.goals-categories-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.goals-categories-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 4px; /* Rounded corners for the scrollbar track */
}

/* Styling for each individual category */
.category{
    padding: 10px; 
    margin-right: 10px; /* Spacing between categories */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 1.2rem;
}

/* Bold text when category is selected */
.category.category-active{
    font-weight: bold;
}

/* Sub container within main container to hold buttons and table-container */
.goals .goals-sub-container{
    flex: 1;
    background-color: none;
    border: 0.5px solid var(--color-dark-border);
    margin-top: 20px;
    margin-left: 35px;
    width: 850px;
    height: 350px;
    border-radius: 50px;
    position: relative;
}

/* Container to hold goals table */
.goals-sub-container .table-container{
    background-color: none;
    width: 800px;
    height: 325px;
    border-radius: 50px;
    position: relative;
    padding: 10px;
    margin-top: 20px;
    overflow-y:auto;
}

/* Name cell that is made scrollable in case of long goal names */
.goal-name-cell {
    overflow-x: auto;
    max-width: 100px;
}

/* Delete goal button for each goal */
.delete-goal-button{
    background-color: transparent;
    background-image: url('/static/img/delete-icon.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-position: center; /* Centers the image */
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* Edit goal button for each goal */
.edit-goal-button{
    background-color: transparent;
    background-image: url('/static/img/edit-icon.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-position: center; /* Centers the image */
    height: 20px;
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.table-container::-webkit-scrollbar {
    width:3px; 
}

.table-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 4px; /* Rounded corners for the scrollbar track */
}

.goals .goals-sub-container h2{
    margin-bottom: 0.8rem;
}

/* Goals table styling */
.goals .goals-sub-container table{
    background-color: var(--color-white);
    width: 100%;
    text-align: center;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

/* Styling for each table row  */
.goals .goals-sub-container table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

/* Give last cell no border */
.goals .goals-sub-container table tbody tr:last-child td{
    border: none;
}

.goals .goals-sub-container a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* Add goal button styling */
.goals .goals-sub-container .goal-button{
    background-color: var(--color-primary); /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute;
    right: 200px;
    bottom: 20px;
}

/* Add category button styling  */
.goals .goals-sub-container .add-category-button{
    background-color: var(--color-primary); /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute;
    right: 70px;
    bottom: 20px;
}

/* Delete category button styling */
.delete-category-button {
    background-color: var(--color-white);
    color: red;
    border: none;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

/* Add goal and edit goal modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal content (white box) */
.modal-content {
    position: relative;
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 83%;
    box-sizing: border-box;
}

/* Heading for modals */
.modal-content h2{
    position: absolute;
    left: 40%;
    top: 20px;
    font-size: 1.6rem;
}

/* Main info container on the right hand side where goals details are inputted */
.modal-content .sub-tasks-container, .modal-content .main-info-container {
    background-color: var(--color-white);
    margin: 20px; 
    height: 350px;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    padding: 30px;
    transition: opacity 0.18s ease;
    overflow-y: auto;
}

/* Tree container on left hand side where tree is selected/grown */
.modal-content .tree-container {
    background-color: var(--color-white);
    margin: 20px; 
    height: 350px;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    padding: 30px;
    width: 325px;
    display: flex;
    align-items: center;
    position: relative;
}

/* Arrow for swapping through trees */
.arrow {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

/* previous arrow position */
#prev {
    left: 10px;
    z-index: 1;
}

/* next arrow position */
#next {
    right: 10px;
    z-index: 1;
}

/* arrow hover effect */
.arrow:hover {
    background-color: #45a049;
}

/* Container for name and image of tree */
.tree-info {
    text-align: center;
    margin-left: 75px;
    margin-top: -30px;
    position: relative;
    height: 400px;
    width: 300px;
}

/* Styling for tree image */
#tree-image, #tree-image-edit {
    width: 200px;
    height: 200px;
    object-fit: contain; /* Ensure image fits within container */
    display: block;
}

/* Positioning of each tree */
.pine-tree,
.birch-tree,
.spruce-tree,
.cedar-tree {
    position: absolute;
    right: 15%;
    bottom: 25%;
}

/* Different positioning for tree seed */
#tree-image-edit.tree-seed {
    position: absolute;
    right: 40%;
    bottom: 25%;
    height: 100px;
    width: 100px;
}

/* Keyframes for tree grow animation */
@keyframes tree-grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Tree grow animation */
.tree-grow {
    animation: tree-grow 1s ease-in-out;
}

/* Styling for tree name and positioning */
#tree-name, #tree-name-edit {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 33%;
    bottom: 50px;
    transform: translateX(-50%);
}

/* Container where tasks are held */
.modal-content .sub-tasks-container {
    width: 400px;
    position: absolute;
    left: 200%; /* Off-screen to the right */
    opacity: 0;
}

/* Class to wrap different elements together */
.modal-content .sub-tasks-container .content-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
}

/* vertical line in sub-tasks-container */
.content-wrapper .vertical-line{
    border-left: 1px solid var(--color-dark); 
    margin-left: 30px;
    height: 100%; 
    z-index: 0;
}

/* Container for each individual task */
.content-wrapper .task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -35px; 
}

/* Task content consisting of task elements */
.task-container .task-content {
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 25px; /* Centers the task */
    margin-bottom: 100px;
    z-index: 0;
}

/* Clickable diamond to show/hide task field */
.task-content .clickable-area {
    background-image: url('/static/img/task-empty.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-position: center; /* Centers the image */
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/* hover effect for clickable area */
.clickable-area:hover{
    background-image: url('/static/img/task-full.png');
}

/* Add task button styling */
.task-container .add-task-button {
    display: block;
    margin-left: 24px;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
    background: var(--color-white);
    color: var(--color-dark);
}

/* End line at the end of task container line when accessing edit goal modal to replace add task button */
.task-container .end-line {
    display: block;
    margin-left: 22px;
    width: 18px;
    z-index: 1;
    cursor: pointer;
    background: var(--color-white);
    color: var(--color-dark);
    border-top: 1px solid var(--color-dark);
}

/* Task input field for journalling or progress tracking for each task  */
.task-content .task-text {
    position: absolute;
    top: 40px;
    left: 75px;
    width: 150px;
    font-size: 12px;
    padding: 5px;
    height: 50px;
    color: var(--color-dark);
    border: 0.2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    overflow-y: auto;
}

/* Task title */
.task-content .task-label {
    position: absolute;
    left: 75px;
    /* margin-top: 2x; */
    text-align: center;
    width: 150px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-dark);
    /* margin-left: 50px; */
    cursor: pointer;
    overflow-x: auto;
    white-space: nowrap; /* Prevent the text from wrapping */
}

/* Delete task button styling */
.task-content .delete-task-button {
    position: absolute;
    left: 270px;
    top: 10px;
    background-image: url('/static/img/delete-icon.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-position: center; /* Centers the image */
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* Hover effect for delete task button */
.delete-task-button:hover{
    top: 7.5px;
    left: 267.5px;
    height: 25px;
    width: 25px;
}

/* Complete task button for edit goal modal */
.task-content .complete-task-button {
    position: absolute;
    left: 270px;
    top: 10px;
    background-image: url('/static/img/tick-icon.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-position: center; /* Centers the image */
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* Reduced opacity when task is completed */
.completed {
    opacity: 10%;
}

/* Complete task button hover enlargement effect */
.complete-task-button:hover{
    top: 7.5px;
    left: 267.5px;
    height: 25px;
    width: 25px;
}

.goal-name-cell::-webkit-scrollbar {
    height: 1px;
}

.goal-name-cell::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.goal-name-cell::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.goal-name-cell::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 4px; /* Rounded corners for the scrollbar track */
}

/* Custom scrollbar styles */
.task-content .task-label::-webkit-scrollbar {
    height: 2px; /* Adjust the height of the scrollbar */
}

.task-content .task-label::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.task-content .task-label::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.task-content .task-label::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 4px; /* Rounded corners for the scrollbar track */
}

/* Reveal of sub tasks container when continue button is clicked */
.modal-content.modal-active .sub-tasks-container {
    margin-left: 2%; /* Move into view */
    opacity: 1; /* Visible */
    transition: opacity 0.2s ease;
    position: static;
    display: flex;
    flex-direction: column;
}

/* Show main info container when modal content when continue button hasn't been clicked  */
.modal-content .main-info-container {
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
}

/* Move main info away and reduce its opacity with a transition when continue button is clicked */
.modal-content.modal-active .main-info-container{
    position: absolute;
    right: 200%;
    opacity: 0;
    transition: opacity 0.05s ease;
}

/* back button and finalise button styling */
.modal-content .back-button,
.modal-content .finalise-button {
    display: none;
    background-color: var(--color-primary); /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute;
}

/* continue button styling */
.modal-content .continue-button{
    background-color: var(--color-primary); /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute;
    right: 70px;
    bottom: 30px;
}

/* When modal is active, make both buttons visible and apply shared styles */
.modal-content.modal-active .back-button,
.modal-content.modal-active .finalise-button {
    display: block;
}

.modal-content.modal-active .back-button {
    left: 70px;
    bottom: 30px;
}

.modal-content.modal-active .finalise-button {
    right: 70px;
    bottom: 30px; 
}

.modal-content.modal-active .continue-button {
    display: none;
}

.main-info-container::-webkit-scrollbar {
    width:1px; 
}

.main-info-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.main-info-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.main-info-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 4px; /* Rounded corners for the scrollbar track */
}

.sub-tasks-container::-webkit-scrollbar {
    width:1px; /* Adjust the height of the scrollbar */
}

.sub-tasks-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.sub-tasks-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.sub-tasks-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 4px; /* Rounded corners for the scrollbar track */
}

/* error message when all input fields aren't full in modals */
.modal-content .error-message {
    position: absolute;
    font-size: 18px;
    padding: 10px;
    right: 250px;
    bottom: 30px;
 }

 /* form for goal information */
.main-info-container form {
    display: flex;
    flex-direction: column;
}

/* Labels for goals form input fields */
.main-info-container label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

/* Styling for input fields */
.main-info-container input[type="text"],
.main-info-container input[type="date"],
.main-info-container select,
.main-info-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark)
}

.main-info-container input[type="date"]{
    caret-color: none; /* Prevent typing within the date field */
}

                        /* Custom calendar */
.flatpickr-calendar {
    background-color: var(--color-white); /* Custom background color */
    color: var(--color-dark);
    border: 1px solid var(--color-white); /* Custom border */
}

.flatpickr-day.selected {
    background-color: var(--color-white); /* Custom selected day color */
    color: var(--color-dark); /* Custom selected day text color */
}

.flatpickr-day.today {
    border-color: var(--color-dark); /* Custom today day border color */
    color: var(--color-dark); /* Custom today day text color */
}

.flatpickr-day {
    color: var(--color-dark);
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay {
    color: var(--color-info-dark);
}

.flatpickr-day.prevMonthDay.flatpickr-disabled{
    color: var(--color-light-grey);
}

.flatpickr-day.flatpickr-disabled {
    color: var(--color-light-grey);
}

.flatpickr-months {
    color: var(--color-dark);
}

.flatpickr-months .flatpickr-month {
    color: var(--color-dark);
}

.flatpickr-weekdays {
    color: var(--color-dark);
}

.flatpickr-weekdays .flatpickr-weekday {
    color: var(--color-dark);
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    color: var(--color-dark);
    background-color: var(--color-white);
}

/* Dropdown button hover */
.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    color: var(--color-dark);
    background-color: var(--color-white);
}

/* Dropdown options hover */
.flatpickr-monthDropdown-months .flatpickr-monthDropdown-months:hover {
    color: var(--color-dark);
    background-color: var(--color-white);
}

.main-info-container input[type="text"]:focus,
.main-info-container input[type="date"]:focus,
.main-info-container select:focus,
.main-info-container textarea:focus {
    outline: none;
    border: 1px solid #4CAF50;
}

.main-info-container input[type="text"],
.main-info-container input[type="date"],
.main-info-container select,
.main-info-container textarea,
.main-info-container button {
    width: calc(100% - 20px);
}


.modal-content .tree-container:hover, 
.modal-content .main-info-container:hover,
.modal-content .sub-tasks-container:hover {
    box-shadow: none;
}

/* close button for modals */
.close-button {
    color: #aaa;
    position: absolute;
    right: 30px;;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
}

/* close button hover effect */
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Blur Effect when modal is active */
.blurred {
    filter: blur(5px);
}

.goals-main-container:hover{
    box-shadow: none;
}

.garden {
    border: none;
}

/* garden main container  */
.garden .garden-main-container{
    background-color: var(--color-white);
    margin-top: 10px;
    width: 1000px;
    height: 550px;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
    padding: 30px;
    position: relative;
}

/* Light mode style for garden background */
.garden .garden-background-container{
    margin-left: 65px;
    margin-top: 20px;
    width: 800px;
    height: 450px;
    background-image: url('/static/img/garden-background.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-position: center; /* Centers the image */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    position: relative;
}

/* Dark mode style for garden background*/
.dark-mode-variables .garden .garden-background-container {
    background-image: url('/static/img/garden-background-dark.png'); 
}

/* container for each individual tree */
.garden-tree-container {
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    height: 300px;
    position: relative;
    margin-top: 50px;
}

/* tree frame storing tree image */
.tree-frame {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/static/img/plus-blue.png');
    background-size: contain; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents repeating of the image */
    background-position: center; /* Centers the image */
}

/* add tree button */
.add-tree-button {
    background-color: var(--color-primary); /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute;
    left: 27px;
    bottom: 30px;
}

/* when tree is added, fade out and disallow further interaction */
.add-tree-button.add-tree-button-active{
    pointer-events: none;
    opacity: 30%
}

main{
    margin-top: 1.4rem;
}

main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div:hover{
    box-shadow: none;
}

main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

/* total goals count */
.analyse .total-goals-container {
    background-color: #4CAF50; /* Softer green */
    color: white;
}

/* completed goals count */
.analyse .completed-goals-container {
    background-color: #F44336;
    color: white;
}

/* goals in progress count */
.analyse .goals-in-progress-container {
    background-color: #2196F3;
    color: white;
}

main .upcoming-goals{
    margin-top: 1.3rem;
}

main .upcoming-goals h2{
    margin-bottom: 0.8rem;
}

/* table consisting of upcoming goals */
main .upcoming-goals table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .upcoming-goals table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .upcoming-goals a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* right section consisting of profie image and dark/light mode switch */
.right-section{
    margin-top: 1.4rem;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

/* profile image container on right section dashboard */
.right-section .user-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .user-profile:hover{
    box-shadow: none;
}

/* profile image */
.right-section .user-profile img{
    width: 11rem;
    height: 11rem;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .user-profile h2{
    margin-bottom: 0.2rem;
}

/* Minimal styling for larger screen sizes */
@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    main .upcoming-goals {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .upcoming-goals table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .list .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    main .upcoming-goals{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .upcoming-goals table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span{
        font-size: 2rem;
    }

}
